ul.hs-accordion-container {
    list-style-type: none;
    padding: 0;
}

    ul.hs-accordion-container > li.hs-accordion-entry {
        transition: all 0.4s ease-out;
        background-color: #FFF;
        border-bottom: 1px solid var(--light-grey);
        transition: all 0.4s ease-out;
        box-shadow: 0 4px 2px -2px var(--light-grey);
    }

    ul.hs-accordion-container > li.selected {
        margin-top: 10px;
        margin-bottom: 10px;
    }

div.hs-accordion-header {
    cursor: pointer;
    color: var(--grey);
    padding: 5px 5px 12px 5px;
    border-radius: 2px;
}

div.hs-accordion-content {
    cursor: default;
    margin: 0 20px 0 20px;
}
