.hs-input-wrapper {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin: 20px;
}

    .hs-input-wrapper input,
    .hs-input-wrapper input[type="text"],
    .hs-input-wrapper input[type="date"],
    .hs-input-wrapper input[type="datetime"],
    .hs-input-wrapper input[type="email"],
    .hs-input-wrapper input[type="number"],
    .hs-input-wrapper input[type="search"],
    .hs-input-wrapper input[type="time"],
    .hs-input-wrapper input[type="url"],
    .hs-input-wrapper input[type="password"],
    .hs-input-wrapper textarea,
    .hs-input-wrapper select {
        background: var(--HS-Background);
        z-index: -1;
        display: block;
        padding: 9px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        padding: 0;
    }

        .hs-input-wrapper input:focus,
        .hs-input-wrapper input[type="text"]:focus,
        .hs-input-wrapper input[type="date"]:focus,
        .hs-input-wrapper input[type="datetime"]:focus,
        .hs-input-wrapper input[type="email"]:focus,
        .hs-input-wrapper input[type="number"]:focus,
        .hs-input-wrapper input[type="search"]:focus,
        .hs-input-wrapper input[type="time"]:focus,
        .hs-input-wrapper input[type="url"]:focus,
        .hs-input-wrapper input[type="password"]:focus,
        .hs-input-wrapper textarea:focus,
        .hs-input-wrapper select:focus {
        }

    .hs-input-wrapper textarea {
        resize: none;
    }

span.hs-input-tag {
    background: var(--light-grey);
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: var(--grey);
    font-size: 11.5px;
}

label.hs-input-label {
    display: block;
    float: left;
    margin-top: -25px;
    background: var(--HS-Background);
    height: 25px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
}
