$grey-light: #f9fbf0;
$grey: rgba(0, 0, 0, 0.1);
$grey-dark: #9a9c92;

$yellow: #fae596;
$yellow-dark: #fac93c;

$orange: #f8aa30;
$orange-light: #f8e740;

$blue-light: #aedcdb;
$blue: #3fb0ac;
$blue-mid: #008e87;
$blue-dark: #00726a;

$green-dark: #173e43;
$green: #3c737a;
$green-light: #739da2;

$red: #b03f41;
$red-light: #df5452;
