@import url('https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu:300');

span {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Comfortaa', cursive;
}

@mixin smallFont() {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

$sizes: (
    small: 12px,
    medium: 16px,
    large: 24px
);

@mixin font($size) {
    font-family: 'Ubuntu', sans-serif;
    font-size: map-get($sizes, $size);
}

@mixin heading($size) {
    @include font($size);

    font-weight: bold;
    letter-spacing: 2px;
}
