<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BundleConfig" type="WebFilesLibrary.Configuration.BundleConfig, WebFilesLibrary"/>
  </configSections>

  <BundleConfig outputFolder="~/HomeStock/WebFiles/Bundles">
    <BundleSources>
      <add name="0.HomeStock.Utility" folderSrc="~/HomeStock.Business/0-Utility" type="Script" filter="*.js" />
      <add name="HomeStock.Business" folderSrc="~/HomeStock.Business/Business" type="Script" filter="*.js" />
      <add name="HomeStock.Data" folderSrc="~/HomeStock.Business/Data" type="Script" filter="*.js" />
      <add name="HomeStock.UI" folderSrc="~/HomeStock.Business/UI" type="Script" filter="*.js" />
    </BundleSources>
  </BundleConfig>
</configuration>