<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BundleConfig" type="WebFilesLibrary.Configuration.BundleConfig, WebFilesLibrary"/>
  </configSections>

  <BundleConfig>
    <BundleCollections>
      <Collection name="JavaScript" type="Script" filter="*.js" outputFolder="~/HomeStock/WebFiles/Bundles/JS">
        <Bundles>
          <Bundle name="0.HomeStock.Utility" folderSrc="~/HomeStock.Business/0-Utility" />
          <Bundle name="HomeStock.Business" folderSrc="~/HomeStock.Business/Business" />
          <Bundle name="HomeStock.Data" folderSrc="~/HomeStock.Business/Data" />
          <Bundle name="HomeStock.UI" folderSrc="~/HomeStock.Business/UI" />
        </Bundles>
      </Collection>
      <Collection name="CSS" type="Style" filter="*.css" outputFolder="~/HomeStock/WebFiles/Bundles/CSS">
        <Bundles>
          <Bundle name="HomeStock.Styling.Managed" folderSrc="~/HomeStock/WebFiles/CSS/Internal" />
          <Bundle name="HomeStock.Styling.Unmanaged" folderSrc="~/HomeStock/WebFiles/CSS/External" />
        </Bundles>
      </Collection>
    </BundleCollections>
  </BundleConfig>
</configuration>