:root {
    --light-grey: #dbdbdb;
    --grey: #888889;
    --dark-grey: #333333;
    --HS-Blue: #00acc1;
    --HS-Blue-Accent: #4dd0e1;
    --HS-Blue-Focus: #008799;
    --HS-Red: #cc0000;
    --HS-Red-Accent: #ff1a1a;
    --HS-Red-Focus: #990000;
    --HS-Green: #2fb62f;
    --HS-Green-Accent: #5dd55d;
    --HS-Green-Focus: #258e25;
    --HS-Active: #ff6600;
    --HS--Background: #f4f7f8;
}

/*#region Button*/
a.hs-button {
    position: relative;
    padding: 1.2% 2% 1.2% 2%;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
    color: var(--light-grey);
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    font-style: normal;
    min-width: 140px;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    opacity: .65;
    white-space: nowrap;
    border: solid; /*Add border in now that is the same as the background color to avoid resize on hover*/
    border-radius: 5px;
    border-color: var(--HS--Background);

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-transition: all .1s linear; /* Saf3.2+, Chrome */
    -moz-transition: all .1s linear; /* FF3.7+ */
    -o-transition: all .1s linear; /* Opera 10.5 */
    transition: all .1s linear;
}

    a.hs-button:hover {
        border-color: var(--dark-grey);
        color: var(--dark-grey);
        opacity: .95;

        -webkit-transition: all .1s linear; /* Saf3.2+, Chrome */
        -moz-transition: all .1s linear; /* FF3.7+ */
        -o-transition: all .1s linear; /* Opera 10.5 */
        transition: all .1s linear;
    }

/*#region Default*/
a.hs-button-default {
    background-color: var(--HS-Blue);
    border: 1px solid var(--HS-Blue-Accent);
}

    a.hs-button-default:hover {
        background-color: var(--HS-Blue-Accent);
    }

    a.hs-button-default:active {
        background-color: var(--HS-Blue-Focus);
    }
/*#endregion Default*/

/*#region New*/
a.hs-button-new {
    background-color: var(--HS-Green);
    border: 1px solid var(--HS-Green-Accent);
}

    a.hs-button-new:hover {
        background-color: var(--HS-Green-Accent);
    }

    a.hs-button-new:active {
        background-color: var(--HS-Green-Focus);
    }
/*#endregion New*/

/*#region Delete*/
a.hs-button-delete {
    background-color: var(--HS-Red-Accent);
    border: 1px solid var(--HS-Red);
}

    a.hs-button-delete:hover {
        background-color: var(--HS-Red);
    }

    a.hs-button-delete:active {
        background-color: var(--HS-Red-Focus);
        color: #ffffff;
    }
/*#endregion Delete*/

/*#endregion Button*/

/*#region Input*/
.hs-input-wrapper {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin: 20px;
}

    .hs-input-wrapper input,
    .hs-input-wrapper input[type="text"],
    .hs-input-wrapper input[type="date"],
    .hs-input-wrapper input[type="datetime"],
    .hs-input-wrapper input[type="email"],
    .hs-input-wrapper input[type="number"],
    .hs-input-wrapper input[type="search"],
    .hs-input-wrapper input[type="time"],
    .hs-input-wrapper input[type="url"],
    .hs-input-wrapper input[type="password"],
    .hs-input-wrapper textarea,
    .hs-input-wrapper select {
        background: var(--HS--Background);
        z-index: -1;
        display: block;
        padding: 9px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        padding: 0;
    }

    .hs-input-wrapper input:focus,
    .hs-input-wrapper input[type="text"]:focus,
    .hs-input-wrapper input[type="date"]:focus,
    .hs-input-wrapper input[type="datetime"]:focus,
    .hs-input-wrapper input[type="email"]:focus,
    .hs-input-wrapper input[type="number"]:focus,
    .hs-input-wrapper input[type="search"]:focus,
    .hs-input-wrapper input[type="time"]:focus,
    .hs-input-wrapper input[type="url"]:focus,
    .hs-input-wrapper input[type="password"]:focus,
    .hs-input-wrapper textarea:focus,
    .hs-input-wrapper select:focus {
    }

.hs-input-wrapper textarea {
    resize: none;
}

span.hs-input-tag {
    background: var(--light-grey);
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: var(--grey);
    font-size: 11.5px;
}

label.hs-input-label {
    display: block;
    float: left;
    margin-top: -25px;
    background: var(--HS--Background);
    height: 25px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
}
/*#endregion Input*/

/*#region PageSeporator*/
div.hs-page-seporator {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    margin: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

    div.hs-page-seporator > span {
        border-radius: 15px;
        background: var(--grey);
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        display: inline-block;
    }

        div.hs-page-seporator > span:before,
        div.hs-page-seporator > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background-color: var(--grey);
        }

        div.hs-page-seporator > span:before {
            right: 100%;
            margin-right: 0px;
        }

        div.hs-page-seporator > span:after {
            left: 100%;
            margin-left: 0px;
        }
/*#endregion PageSeporator*/

/*#region PageHeader*/
div.hs-page-header {
    padding-bottom: 3%;
    text-align: center;
}

h1.hs-page-header-title {
    display: inline;
    font-size: 4em;
}

p.hs-page-header-description {
    display: inline;
}
/*#endregion PageHeader*/

/*#region AccordionList*/
div.hs-accordion-container {

}

div.hs-accordion-header {
    cursor: pointer;
    color: var(--light-grey);
    background: var(--grey);
    padding: 5px;
    border-radius: 2px;
}

div.hs-accordion-content {
    background-color: var(--HS--Background);
}
/*#endregion AccordionList*/
@media (max-width: 700px) {
    a .hs-button {
    padding: 10px 17px 10px 17px !important;
    min-width: 70px !important;
}

div.hs-page-seporator {
    margin-top: 28px !important;
    margin-bottom: 28px !important;
}
}

@media (min-width: 1400px) {
    a.hs-button {
        padding: 12px 30px 12px 30px !important;
        min-width: 160px !important;
    }
}
