:root {
  --light-grey: #dbdbdb;
  --grey: #888889;
  --dark-grey: #333333;
  --active: #00acc1;
  --active-accent: #4dd0e1;
  --active-selected: #ff6600;
}

body {
    padding-top: 10px;
}

.form{    
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #f4f7f8;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form fieldset{
    border: none;
    padding-left: 0;
}
.form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form label {
    display: block;
    margin-bottom: 8px;
}

.form input[type="date"] {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus{
    background: #d2d9dd;
}
.form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form .number {
    background: var(--active-accent);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form input[type="submit"],
.form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: var(--active-accent);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 20%;
    border: 1px solid var(--active-accent);
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover
{
    background: var(--active-accent);
}