<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="HomeStockConfig" type="HomeStockLibrary.Configuration.Sections.HomeStockConfiguration, HomeStockLibrary" />
  </configSections>

  <HomeStockConfig>
    <Database name="HomeStockDB">
      <Tables>
        <Table name="RecordRelations" >
          <Columns>
            <Column name="Id" />
            <Column name="ParentId" />
          </Columns>
        </Table>
        <Table name="SyncChanges" >
          <Columns>
            <Column name="RecordId" />
            <Column name="RecordTable" />
            <Column name="SyncModuleId" />
            <Column name="Change" />
          </Columns>
        </Table>
      </Tables>
    </Database>
  </HomeStockConfig>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>