:root {
  --light-grey: #f2f2f2;
  --light-grey-hover: #e6e6e6;
  --grey: #d8d9da;
  --grey-hover : #caccce;
}

body {
	background-color: var(--light-grey);
}

ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

li { 
	background: var(--light-grey);
	padding: 1%;
    list-style-type: none; 
}

li:nth-child(odd) { 
	background: var(--grey); 
}

li:hover {
	cursor: pointer;
	background-color: var(--light-grey-hover);
}

li:nth-child(odd):hover { 
	background: var(--grey-hover); 
}