:root {
  --light-grey: #dbdbdb;
  --grey: #888889;
  --dark-grey: #333333;
  --active: #00acc1;
  --active-accent: #4dd0e1;
  --active-selected: #ff6600;
}

.container-tags {
	max-width: 80%;
	margin: 0 auto;
	align-self: center;
	text-align: center;
}

.descriptive-tag-box {
	margin: 1%;
	padding: 2%;
	position: relative;
	float: left;
	background: var(--light-grey);
    transition: box-shadow .2s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
	background-color: var(--active-selected);
    transition: box-shadow .1s;
	box-shadow: inset 4px 4px 15px #888888;
}

.descriptive-tag-box > p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}