<div class="accordion">
    <div>
        <ul class="hs-accordion-container">
            <li class="hs-accordion-entry">
                <div class="hs-accordion-header" data-bind="toggleExpand: { open: false, sParent: 'hs-accordion-entry', sChild: 'hs-accordion-content' }, toggleClass: [{ classes : { on: 'minus' }, sChild: 'hs-transition-plus' }, { classes: { on: 'selected'}, sParent: 'hs-accordion-entry'}]">
                    <div class="hs-transition-plus" style="float: left;"></div>
                    <span style="margin-left: -32px;">First Accordion heading</span>
                </div>
                <div class="hs-accordion-content">
                    {{ContentHTML}}
                </div>
            </li>
            <li class="hs-accordion-entry">
                <div class="hs-accordion-header" data-bind="toggleExpand: { open: false, sParent: 'hs-accordion-entry', sChild: 'hs-accordion-content' }, toggleClass: [{ classes : { on: 'minus' }, sChild: 'hs-transition-plus' }, { classes: { on: 'selected'}, sParent: 'hs-accordion-entry'}]">
                    <div class="hs-transition-plus" style="float: left;"></div>
                    <span style="margin-left: -32px;">Second Accordion heading</span>
                </div>
                <div class="hs-accordion-content">
                    {{ContentHTML}}
                </div>
            </li>
            <li class="hs-accordion-entry">
                <div class="hs-accordion-header" data-bind="toggleExpand: { open: false, sParent: 'hs-accordion-entry', sChild: 'hs-accordion-content' }, toggleClass: [{ classes : { on: 'minus' }, sChild: 'hs-transition-plus' }, { classes: { on: 'selected'}, sParent: 'hs-accordion-entry'}]">
                    <div class="hs-transition-plus" style="float: left;"></div>
                    <span style="margin-left: -32px;">Third Accordion heading</span>
                </div>
                <div class="hs-accordion-content">
                    {{ContentHTML}}
                </div>
            </li>
            <li class="hs-accordion-entry">
                <div class="hs-accordion-header" data-bind="toggleExpand: { open: false, sParent: 'hs-accordion-entry', sChild: 'hs-accordion-content' }, toggleClass: [{ classes : { on: 'minus' }, sChild: 'hs-transition-plus' }, { classes: { on: 'selected'}, sParent: 'hs-accordion-entry'}]">
                    <div class="hs-transition-plus" style="float: left;"></div>
                    <span style="margin-left: -32px;">Fourth Accordion heading</span>
                </div>
                <div class="hs-accordion-content">
                    {{ContentHTML}}
                </div>
            </li>
            <li class="hs-accordion-entry">
                <div class="hs-accordion-header" data-bind="toggleExpand: { open: false, sParent: 'hs-accordion-entry', sChild: 'hs-accordion-content' }, toggleClass: [{ classes : { on: 'minus' }, sChild: 'hs-transition-plus' }, { classes: { on: 'selected'}, sParent: 'hs-accordion-entry'}]">
                    <div class="hs-transition-plus" style="float: left;"></div>
                    <span style="margin-left: -32px;">Fifth Accordion heading</span>
                </div>
                <div class="hs-accordion-content">
                    {{ContentHTML}}
                </div>
            </li>
        </ul>
    </div>
</div>